.category-page {
  padding: 3rem 2rem;
  
  min-height: calc(100vh - 120px);
  animation: fadeIntro 0.6s ease forwards;
}

.category-page h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Merriweather', serif;
}

.empty {
  text-align: center;
  opacity: 0.6;
  margin-top: 1rem;
}
