.header {
  width: 100%;
  padding: 1rem 1.5rem;
  background: rgba(0, 0, 0, 0.35); /* providno crno */
  backdrop-filter: blur(6px);      /* stakleni efekat */
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* hide desktop nav on mobile */
.desktop-nav {
  display: flex;
}

.mobile-nav {
  display: none;
}
.logo {
  font-family: 'Merriweather', serif;
  color: var(--accent-gold);
  letter-spacing: 1px;
}
/* hamburger button */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.hamburger span {
  width: 22px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

/* animation to X */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(6px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px);
}

@media (max-width: 850px) {
  .desktop-nav {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-nav {
    display: block;
    background: #111;
    padding: 1rem 0;
    border-top: 1px solid rgba(255,255,255,0.1);
  }
}
