/* GLOBAL SABRANJE THEME */
:root {
  
  --bg-alt: #270e0e;     /* još dublje */
  --text-main: #f4f1e7;  /* bež, kao hartija */
  --accent: #b71c1c;      /* crveno */
  --accent-blue: #0a3676; /* tamno plava */
  --accent-gold: #d3b16a; /* svetla starinska zlatna */
}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.85)),
    url("/warrior.png") no-repeat center fixed;
  background-size: cover;
  color: var(--text-main); /* ovde je fix */
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color: #fff;
}

/* LINKS */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* MAIN WRAPPER */
main {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

/* SMOOTH SCROLL NICE TOUCH */
html {
  scroll-behavior: smooth;
}
